<h1>Editing Metatransferindicator</h1>

<%= render 'form', metatransferindicator: @metatransferindicator %>

<%= link_to 'Show', @metatransferindicator %> |
<%= link_to 'Back', metatransferindicators_path %>
